extends ../layout
block content
    form.form-horizontal(method='post',action='/admin/movie/new')
        input(type="hidden",name='movie[_id]',value='#{movie._id}')
        label.col-sm-2(for='exampleInputAccount4') 电影名字
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[title]',value='#{movie.title}')
        label.col-sm-2(for='exampleInputAccount4') 电影导演
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[doctor]',value='#{movie.doctor}')
        label.col-sm-2(for='exampleInputAccount4') 国家
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[country]',value='#{movie.country}')
        label.col-sm-2(for='exampleInputAccount4') 语种
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[language]',value='#{movie.language}')
        label.col-sm-2(for='exampleInputAccount4') 海报地址
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[poster]',value='#{movie.poster}')
        label.col-sm-2(for='exampleInputAccount4') 片源地址
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[flash]',value='#{movie.flash}')
        label.col-sm-2(for='exampleInputAccount4') 上映年代
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[year]',value='#{movie.year}')
        label.col-sm-2(for='exampleInputAccount4') 电影简介
        .col-sm-10
            input.form-control#exampleInputAccount4(type="text",name='movie[summary]',value='#{movie.summary}')
        button.btn.btn-primary(type='submit') 录入